node_modules/
.vscode/
.nyc_output/
dist/
distUastDump/
.vscode/settings.json
.idea/
report/
uploads/
.DS_Store
**/logs/
*.json.orig
*.log
test/javascript/benchmarks
test/go/benchmarks
test/python/benchmarks
test/java/benchmarks
test/php/benchmarks
CNVD-*/
TODO.md
*.dot
.babelrc.json
*.heapsnapshot
*.LICENSE.txt
gulpfile_sym.js
yasa*
e2e_chair.test.js
package-lock.json
test.js
*.zip
*.svg
*.pyc
*.sarif
__pycache__
symintrpr.js
symintrpr1.js
testUast4go
deps/uast4go
deps/uast4python
.mocharc.json
/logs/yasa.2025-09-04.log
/logs/yasa-error.2025-09-04.log
/.idea/
/.vscode/
/logs/
/report/
/node_modules/
/workspace/
deps/uast4py
src/uast
deps-runtime/
.cursorrules
test/javascript/test-report
test/trace-accuracy-reports
test/java/report
test/python/report
test/javascript/report
test/php/report
deps
node_modules
